<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Coding_Standard_Driverscript_Package.Driverscript_Class"/>
      <class name="Coding_Standards_Objects_Package.Facebook_Login"/>
      <class name="Coding_Standards_Objects_Package.Page_Factory"/>
      <class name=".SampleTesting"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
